.ipynb_checkpoints
outputs
*.zip
__pycache__
.DS_Store
local
BBH/outputs
.vscode/launch.json
.vscode/settings.json
gsm8k/prompts.txt
MATH/data
gsm8k/eval2_output_attn_clip_original_256
gsm8k/output_attn_clip_long
gsm8k/output_attn_clip_long1
gsm8k/output_attn_clip_long_reason
gsm8k/output_attn_clip_original
gsm8k/output_attn_clip_original_256
gsm8k/outputs